<!DOCTYPE html>
<html>

<head>
    <% include ../common/partials/head %>
    <title>Products</title>
</head>

<body>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Include sidebar partial -->
        <% include ../common/partials/sidebar %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Include topbar partial -->
                <% include ../common/partials/topbar %>


                <!-- Page Content -->
                <% include ../common/partials/product-table %>
                <!-- End Page Content -->


            </div>
            <!-- End Main Content -->

            <!-- Footer -->
            <!-- Include footer partial -->
            <% include ../common/partials/footer %>
            <!-- End Footer -->

        </div>
        <!-- End Content Wrapper -->

    </div>

    <!-- Include bottom partial -->
    <% include ../common/partials/bottom %>
</body>

</html>