<link href="/stylesheets/admin-cast/datatables.min.css" rel="stylesheet" />
<link href="/stylesheets/admin-cast/bootstrap-select.min.css" rel="stylesheet" />
<link href="/stylesheets/admin-cast/main.min.css" rel="stylesheet" />
<script type="text/javascript" src="/javascripts/admin-cast/bootstrap-select.min.js"></script>

<!-- START PAGE CONTENT-->
<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-body">
            <h5 class="font-strong mb-4">DANH SÁCH TÀI KHOẢN</h5>
            <div class="flexbox row">
                <div class="flexbox col-12 col-lg-auto mb-4">
                    <label class="mb-0 mr-2">Loại:</label>
                    <select class="selectpicker show-tick form-control" id="type-filter" title="Vui lòng chọn"
                        data-style="btn-solid" data-width="150px">
                        <option value="">Tất cả</option>
                        <option>Admin</option>
                        <option>Khách hàng</option>
                        <option>Đã khóa</option>
                    </select>
                </div>
                <div class="flexbox col-12 col-lg-auto row">
                    <div class="input-group-icon input-group-icon-left mb-4 col-12 col-md-6 col-lg-auto">
                        <span class="input-icon input-icon-right font-16"><i class="fa fa-search"></i></span>
                        <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text"
                            placeholder="Tìm kiếm ...">
                    </div>
                    <a class="btn btn-rounded btn-primary btn-air mb-4 col-12 col-md-6 col-lg-auto" href="/accounts/add">Thêm tài khoản</a>
                </div>
            </div>
            <div class="table-responsive row">
                <table class="table table-bordered table-hover" id="accounts-table">
                    <thead class="thead-default thead-lg">
                        <tr>
                            <th>#</th>
                            <th>Mã tài khoản</th>
                            <th>Tên</th>
                            <th>Trạng thái</th>
                            <th>Ngày tạo</th>
                            <th class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <a href="/accounts/info">#1254</a>
                            </td>
                            <td>Becky Brooks</td>
                            <td>
                                <span class="badge badge-success badge-pill">Hoạt động</span>
                            </td>
                            <td>17.05.2018</td>
                            <td>
                                <a class="text-light mr-3 font-16" href="/accounts/info"><i class="fa fa-pencil-alt"></i></a>
                                <a class="text-muted font-16" href="/"><i class="fa fa-user-lock"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <a href="/accounts/info">#1253</a>
                            </td>
                            <td>Emma Johnson</td>
                            <td>
                                <span class="badge badge-success badge-pill">Hoạt động</span>
                            </td>
                            <td>17.05.2018</td>
                            <td>
                                <a class="text-light mr-3 font-16" href="/accounts/info"><i class="fa fa-pencil-alt"></i></a>
                                <a class="text-muted font-16" href="/"><i class="fa fa-user-lock"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <a href="/accounts/info">#1252</a>
                            </td>
                            <td>Noah Williams</td>
                            <td>
                                <span class="badge badge-primary badge-pill">Đang chờ</span>
                            </td>
                            <td>16.05.2018</td>
                            <td>
                                <a class="text-light mr-3 font-16" href="/accounts/info"><i class="fa fa-pencil-alt"></i></a>
                                <a class="text-muted font-16" href="/"><i class="fa fa-user-lock"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <a href="/accounts/info">#1251</a>
                            </td>
                            <td>Sophia Jones</td>
                            <td>
                                <span class="badge badge-success badge-pill">Hoạt động</span>
                            </td>
                            <td>15.05.2018</td>
                            <td>
                                <a class="text-light mr-3 font-16" href="/accounts/info"><i class="fa fa-pencil-alt"></i></a>
                                <a class="text-muted font-16" href="/"><i class="fa fa-user-lock"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <a href="/accounts/info">#1250</a>
                            </td>
                            <td>Jacob Brown</td>
                            <td>
                                <span class="badge badge-primary badge-pill">Đang chờ</span>
                            </td>
                            <td>12.05.2018</td>
                            <td>
                                <a class="text-light mr-3 font-16" href="/accounts/info"><i class="fa fa-pencil-alt"></i></a>
                                <a class="text-muted font-16" href="/"><i class="fa fa-user-lock"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>
                                <a href="/accounts/info">#1249</a>
                            </td>
                            <td>James Davis</td>
                            <td>
                                <span class="badge badge-success badge-pill">Hoạt động</span>
                            </td>
                            <td>12.05.2018</td>
                            <td>
                                <a class="text-light mr-3 font-16" href="/accounts/info"><i class="fa fa-pencil-alt"></i></a>
                                <a class="text-muted font-16" href="/"><i class="fa fa-user-lock"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>
                                <a href="/accounts/info">#1248</a>
                            </td>
                            <td>Ava Wilson</td>
                            <td>
                                <span class="badge badge-danger badge-pill">Đã bị khóa</span>
                            </td>
                            <td>11.05.2018</td>
                            <td>
                                <a class="text-light mr-3 font-16" href="/accounts/info"><i class="fa fa-pencil-alt"></i></a>
                                <a class="text-muted font-16" href="/"><i class="fa fa-user-lock"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>
                                <a href="/accounts/info">#1247</a>
                            </td>
                            <td>Ethan Taylor</td>
                            <td>
                                <span class="badge badge-success badge-pill">Hoạt động</span>
                            </td>
                            <td>10.05.2018</td>
                            <td>
                                <a class="text-light mr-3 font-16" href="/accounts/info"><i class="fa fa-pencil-alt"></i></a>
                                <a class="text-muted font-16" href="/"><i class="fa fa-user-lock"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>
                                <a href="/accounts/info">#1246</a>
                            </td>
                            <td>Emily Thomas</td>
                            <td>
                                <span class="badge badge-success badge-pill">Hoạt động</span>
                            </td>
                            <td>10.05.2018</td>
                            <td>
                                <a class="text-light mr-3 font-16" href="/accounts/info"><i class="fa fa-pencil-alt"></i></a>
                                <a class="text-muted font-16" href="/"><i class="fa fa-user-lock"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>
                                <a href="/accounts/info">#1245</a>
                            </td>
                            <td>Noah Moore</td>
                            <td>
                                <span class="badge badge-danger badge-pill">Đã bị khóa</span>
                            </td>
                            <td>09.05.2018</td>
                            <td>
                                <a class="text-light mr-3 font-16" href="/accounts/info"><i class="fa fa-pencil-alt"></i></a>
                                <a class="text-muted font-16" href="/"><i class="fa fa-user-lock"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>
                                <a href="/accounts/info">#1244</a>
                            </td>
                            <td>Mia Anderson</td>
                            <td>
                                <span class="badge badge-success badge-pill">Hoạt động</span>
                            </td>
                            <td>08.05.2018</td>
                            <td>
                                <a class="text-light mr-3 font-16" href="/accounts/info"><i class="fa fa-pencil-alt"></i></a>
                                <a class="text-muted font-16" href="/"><i class="fa fa-user-lock"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>
                                <a href="/accounts/info">#1243</a>
                            </td>
                            <td>Amelia Harris</td>
                            <td>
                                <span class="badge badge-success badge-pill">Hoạt động</span>
                            </td>
                            <td>08.05.2018</td>
                            <td>
                                <a class="text-light mr-3 font-16" href="/accounts/info"><i class="fa fa-pencil-alt"></i></a>
                                <a class="text-muted font-16" href="/"><i class="fa fa-user-lock"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>
                                <a href="/accounts/info">#1242</a>
                            </td>
                            <td>Sofia Jackson</td>
                            <td>
                                <span class="badge badge-success badge-pill">Hoạt động</span>
                            </td>
                            <td>07.05.2018</td>
                            <td>
                                <a class="text-light mr-3 font-16" href="/accounts/info"><i class="fa fa-pencil-alt"></i></a>
                                <a class="text-muted font-16" href="/"><i class="fa fa-user-lock"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->



<script type="text/javascript" src="/javascripts/admin-cast/datatables.min.js"></script>
<script type="text/javascript" src="/javascripts/admin-cast/app.min.js"></script>

<script>
    $(function () {
        $('#accounts-table').DataTable({
            pageLength: 10,
            fixedHeader: true,
            responsive: true,
            "sDom": 'rtip',
            columnDefs: [{
                targets: 'no-sort',
                orderable: false
            }]
        });

        var table = $('#accounts-table').DataTable();
        $('#key-search').on('keyup', function () {
            table.search(this.value).draw();
        });
        $('#type-filter').on('change', function () {
            table.column(4).search($(this).val()).draw();
        });
    });
</script>