body {
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  margin: 0;
}

a {
  color: #00B7FF;
}

body>#wrapper>#content-wrapper>#content {
  min-height: 100vh;
  margin-bottom: 65px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer>div {
  margin: 0 !important;
  padding: 0;
}

.btn-trans {
  background: transparent;
  border: 0;
  padding: 0;
}