.form-control {
    height: auto;
}

.dataTables_length>label,
.dataTables_filter>label {
    display: inline-flex;
    line-height: 30px;
}

.dataTables_length>label>*,
.dataTables_filter>label>* {
    margin: 0 5px;
}

#dataTable_filter {
    float: right;
}

#dataTable_filter input {
    margin-right: 0;
}


.bootstrap-select>.dropdown-toggle {
    line-height: 15px;
}

#products-table_wrapper {
    padding: 0;
}

/* select box */
.dropdown-menu .category-item.checked a .check-mark {
    display: block;
}