<%- include("../common/containers/header")-%>
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Đặt lại mật khẩu</div>
        <div class="card-body">
            <div class="text-center mb-4">
                <h4>Nhập mật khẩu mới</h4>
            </div>
            <form action="/forgot/reset" method="POST">
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="password" name="password" class="form-control"
                            placeholder="Mật khẩu mới" required="required" autofocus="autofocus">
                    </div>
                </div>
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                <button type="submit" class="btn btn-primary btn-block">Gửi</button>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="/register">Đăng kí tài khoản mới</a>
                <a class="d-block small" href="/login">Đăng nhập</a>
            </div>
        </div>
    </div>
</div>
<%- include("../common/containers/footer") -%>
</body>

</html>