<%- include("../common/containers/header")-%>
<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Đăng kí tài khoản</div>
    <div class="card-body">
      <form action="/register" method="POST">
        <div class="form-group">
          <div class="form-label-group">
            <input type="text" id="inputUsername" class="form-control" placeholder="Tên đăng nhập" required="required"
              name="username">
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-label-group">
                <input type="text" id="name" class="form-control" placeholder="Họ tên" required="required"
                  autofocus="autofocus" name="name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-label-group">
                <input type="tel" id="lastName" class="form-control" placeholder="Số điện thoại" required="required"
                  name="phone">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="required"
              name="email">
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Mật khẩu"
                  required="required" name="password">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-label-group">
                <input type="password" id="confirmPassword" class="form-control" placeholder="Xác nhận mật khẩu"
                  required="required">
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Đăng kí</button>
      </form>
      <div class="text-center">
        <a class="d-block small mt-3" href="/login">Đăng nhập</a>
        <a class="d-block small" href="/forgot">Quên mật khẩu?</a>
      </div>
    </div>
  </div>

  <script>
    //validate confirm password
    var password = document.getElementById("inputPassword"),
      confirm_password = document.getElementById("confirmPassword");

    function validatePassword() {
      if (password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Mật khẩu không khớp");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
  </script>
  <%- include("../common/containers/footer") -%>