<!DOCTYPE html>
<html>

<head>
    <% include ../common/partials/head %>
    <title><%= pageTitle %></title>
</head>

<body>
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6" style="
                            min-height: 500px;">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Khôi phục mật khẩu</h1>
                                    </div>
                                    <form class="user mt-5" action="/forgot-password/reset/<%- token %>" method="POST">
                                        <div class="col-12">
                                            <% if(locals.message ){ 
                                                if(locals.message.success) { %>
                                            <div class="alert alert-success" role="alert">
                                                <%= message.success %>
                                            </div>
                                            <% } 
                                            if(locals.message.error) { %>
                                            <div class="alert alert-danger" role="alert">
                                                <%= message.error %>
                                            </div>
                                            <% } } %>
                                        </div>

                                        <div class="form-group">
                                            <input type="password" class="form-control" name="newPw"
                                                placeholder="Mật khẩu mới..." required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control"
                                                placeholder="Nhập lại mật khẩu mới..." name="replacePw" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block mt-3 mt-3">
                                            Đồng ý
                                        </button>

                                        <a href="/login" class="btn btn-google btn-user btn-block">
                                            Đăng nhập
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Include scroll to top partial -->
    <% include ../common/partials/scroll-to-top %>
</body>

</html>