<!DOCTYPE html>
<html>

<head>
    <% include ../common/partials/head %>
    <title><%= pageTitle %></title>
</head>

<body>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Include sidebar partial -->
        <% if(isLogin){ %>
        <% include ../common/partials/sidebar %>
        <% } %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Include topbar partial -->
                <% if(isLogin){ %>
                <% include ../common/partials/topbar %>
                <% } %>

                <!-- Page Content -->
                <div class="container-fluid">
                    <!-- 404 Error Text -->
                    <div class="text-center">
                        <div class="error mx-auto" data-text="404">404</div>
                        <p class="lead text-gray-800 mb-5">Không tìm thấy trang</p>
                        <p class="text-gray-500 mb-0">Có lỗi xảy ra đối với trang bạn muốn truy cập...</p>
                        <a href="/">&larr; Quay trở lại trang chủ</a>
                    </div>
                </div>
                <!-- End Page Content -->

            </div>
            <!-- End Main Content -->

            <!-- Footer -->
            <!-- Include footer partial -->
            <% include ../common/partials/footer %>
            <!-- End Footer -->

        </div>
        <!-- End Content Wrapper -->


    </div>
    <!-- End of Page Wrapper -->

    <!-- Include bottom partial -->
    <% include ../common/partials/bottom %>
</body>

</html>