<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= pageTitle %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
  <link rel="stylesheet" href="/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">


  <link rel="stylesheet" href="/css/aos.css">

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>

  <div class="site-wrap">


    <div class="site-navbar bg-white py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Nhập từ khóa và nhấn enter để tìm kiếm">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="/" class="js-logo-clone">ShopMax</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class="active"><a href="/">Trang chủ</a></li>
                <li class="has-children">
                  <a href="/shop">Loại sản phẩm</a>
                  <ul class="dropdown">
                    <li><a href="/shop">Laptop Gaming</a></li>
                    <li><a href="/shop">Laptop văn phòng</a></li>
                    <li><a href="/shop">Laptop doanh nhân</a></li>
                    <li><a href="/shop">Laptop ultrabook</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a href="/shop">Thương hiệu</a>
                  <ul class="dropdown">
                    <li><a href="/shop">DELL</a></li>
                    <li><a href="/shop">ASUS</a></li>
                    <li><a href="/shop">MSI</a></li>
                    <li><a href="/shop">MACBOOK</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <div class="icons">
            <a href="" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
            <a href="/cart" class="icons-btn d-inline-block bag">
              <span class="icon-shopping-bag"></span>
              <span class="number">2</span>
            </a>
            <a href="/login" class="icons-btn d-inline-block"><span class="icon icon-person"></span></a>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>
