<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
    <title>Accounts</title>
    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="javascripts/demo/datatables-demo.js"></script>
</head>

<body>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Include sidebar partial -->
        <% include ../partials/sidebar %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Include topbar partial -->
                <% include ../partials/topbar %>


                <!-- Page Content -->
                <div class="container-fluid">
                    <% include ../partials/accounts-table %>
                </div>
                <!-- End Page Content -->


            </div>
            <!-- End Main Content -->

            <!-- Footer -->
            <!-- Include footer partial -->
            <% include ../partials/footer %>
            <!-- End Footer -->

        </div>
        <!-- End Content Wrapper -->


    </div>
    <!-- End of Page Wrapper -->

    <!-- Include scroll to top partial -->
    <% include ../partials/scroll-to-top %>

    <!-- Include log out popup partial -->
    <% include ../partials/log-out-popup %>
</body>

</html>