<!DOCTYPE html>
<html>

<head>
  <% include ../common/partials/head %>
  <title><%= title %></title>

  <link href="/stylesheets/admin-cast/main.min.css" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Include sidebar partial -->
    <% include ../common/partials/sidebar %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <!-- Include topbar partial -->
        <% include ../common/partials/topbar %>

        <!-- Page Content -->
        <div class="container-fluid">

          <div class="page-content fade-in-up">
            <div class="row mb-4">
              <div class="col-lg-4 col-md-6">
                <a href="/brands">
                  <div class="card mb-4">
                    <div class="card-body flexbox-b">
                      <div class="easypie mr-4" data-percent="73" data-bar-color="#18C5A9" data-size="80"
                        data-line-width="8">
                        <span class="easypie-data text-success" style="font-size:32px;"><i
                            class="la la-users"></i></span>
                      </div>
                      <div>
                        <h3 class="font-strong text-success">18</h3>
                        <div class="text-muted">NHÃN HÀNG</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-md-6">
                <a href="/users">
                  <div class="card mb-4">
                    <div class="card-body flexbox-b">
                      <div class="easypie mr-4" data-percent="42" data-bar-color="#5c6bc0" data-size="80"
                        data-line-width="8">
                        <span class="easypie-data font-26 text-primary"><i class="ti-world"></i></span>
                      </div>
                      <div>
                        <h3 class="font-strong text-primary">644</h3>
                        <div class="text-muted">KHÁCH HÀNG</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-md-6">
                <a href="/orders">
                  <div class="card mb-4">
                    <div class="card-body flexbox-b">
                      <div class="easypie mr-4" data-percent="70" data-bar-color="#ff4081" data-size="80"
                        data-line-width="8">
                        <span class="easypie-data text-pink" style="font-size:32px;"><i class="la la-tags"></i></span>
                      </div>
                      <div>
                        <h3 class="font-strong text-pink">210</h3>
                        <div class="text-muted">ĐƠN ĐẶT HÀNG</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-8">
                <div class="ibox">
                  <div class="ibox-body">
                    <div class="d-flex justify-content-between mb-4">
                      <div>
                        <h3 class="m-0">
                          <a href="/statistics">DOANH SỐ</a>
                        </h3>
                      </div>
                      <ul class="nav nav-pills nav-pills-rounded nav-pills-air" id="chart_tabs">
                        <li class="nav-item ml-1">
                          <a class="nav-link active" data-toggle="tab" data-id="1" href="javascript:;">Trong Tuần</a>
                        </li>
                        <li class="nav-item ml-1">
                          <a class="nav-link" data-toggle="tab" data-id="2" href="javascript:;">Trong Tháng</a>
                        </li>
                        <li class="nav-item ml-1">
                          <a class="nav-link" data-toggle="tab" data-id="3" href="javascript:;">Trong Năm</a>
                        </li>
                      </ul>
                    </div>
                    <div>
                      <canvas id="visitors_chart" style="height:260px;"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="ibox ibox-fullheight">
                  <div class="ibox-head">
                    <div class="ibox-title">
                      <a href="/orders">ĐƠN HÀNG</a>
                    </div>
                  </div>
                  <div class="ibox-body">
                    <div class="mb-5">
                      <div class="flexbox-b mb-2">
                        <span class="badge-point badge-success mr-2"></span>
                        <a href="/orders">Đã giao hàng</a>
                        <span class="h4 mb-0 ml-4">257</span>
                      </div>
                      <div class="flexbox-b mb-2">
                        <span class="badge-point badge-primary mr-2"></span>
                        <a href="/orders">Đang vận chuyển</a>
                        <span class="h4 mb-0 ml-4">225</span>
                      </div>
                      <div class="flexbox-b mb-2">
                        <span class="badge-point badge-pink mr-2"></span>
                        <a href="/orders">Đang chờ</a>
                        <span class="h4 mb-0 ml-4">17</span>
                      </div>
                    </div>
                    <div class="ibox-fullwidth-block">
                      <canvas id="age_chart" style="height:260px;"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-8">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="ibox ibox-fullheight">
                      <div class="ibox-head">
                        <div class="ibox-title">
                          <a href="/categories">DANH MỤC HÀNG HÓA</a>
                        </div>
                      </div>
                      <div class="ibox-body">
                        <div>
                          <canvas id="screens_chart" style="height:260px;"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="ibox ibox-fullheight">
                      <div class="ibox-head">
                        <div class="ibox-title">
                          <a href="/products">TOP HÀNG HÓA</a>
                        </div>
                      </div>
                      <div class="ibox-body">
                        <ul class="list-group list-group-divider list-group-full">
                          <li class="list-group-item flexbox">
                            <span class="flexbox"><i class="la la-chrome mr-3 font-40"></i>Tivi SKU232844</span>
                            <span class="badge badge-success badge-pill">34.7%</span>
                          </li>
                          <li class="list-group-item flexbox">
                            <span class="flexbox"><i class="la la-firefox mr-3 font-40"></i>Tivi SKU232844</span>
                            <span class="badge badge-primary badge-pill">34.7%</span>
                          </li>
                          <li class="list-group-item flexbox">
                            <span class="flexbox"><i class="la la-opera mr-3 font-40"></i>Tivi SKU232844</span>
                            <span class="badge badge-pink badge-pill">34.7%</span>
                          </li>
                          <li class="list-group-item flexbox">
                            <span class="flexbox"><i class="la la-internet-explorer mr-3 font-40"></i>Tivi SKU232844
                            </span>
                            <span class="badge badge-info badge-pill">34.7%</span>
                          </li>
                          <li class="list-group-item flexbox">
                            <span class="flexbox"><i class="la la-safari mr-3 font-40"></i>Tivi SKU232844</span>
                            <span class="badge badge-warning badge-pill">34.7%</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ibox">
                  <div class="ibox-body">
                    <div class="flexbox mb-5">
                      <div class="flexbox">
                        <span class="mr-4"
                          style="width:60px;height:60px;background-color:#e7e9f6;color:#5c6bc0;display:inline-flex;align-items:center;justify-content:center;font-size:35px;"><i
                            class="ti-files"></i></span>
                        <div>
                          <h5 class="font-strong">
                            <a href="/brands">TOP 5 NHãn HÀNG</a>
                          </h5>
                          <div class="text-light">Top 5 nhãn hàng đạt doanh só cao nhất</div>
                        </div>
                      </div>
                      <ul class="nav nav-pills nav-pills-rounded nav-pills-air">
                        <li class="nav-item ml-1">
                          <a class="nav-link active" href="#tab_1" data-toggle="tab">Tuần</a>
                        </li>
                        <li class="nav-item ml-1">
                          <a class="nav-link" href="#tab_2" data-toggle="tab">Tháng</a>
                        </li>
                        <li class="nav-item ml-1">
                          <a class="nav-link" href="#tab_3" data-toggle="tab">Năm</a>
                        </li>
                      </ul>
                    </div>
                    <div class="tab-content">
                      <div class="tab-pane fade show active" id="tab_1">
                        <div class="flexbox">
                          <div class="text-center">
                            <div class="mb-3">Nhãn hàng 2</div>
                            <div class="easypie" data-percent="44" data-bar-color="#5c6bc0" data-size="80"
                              data-line-width="8">
                              <span class="easypie-data h3 font-strong">44<sup>%</sup></span>
                            </div>
                          </div>
                          <div class="text-center">
                            <div class="mb-3">Nhãn hàng 1</div>
                            <div class="easypie" data-percent="28" data-bar-color="#18c5a9" data-size="80"
                              data-line-width="8">
                              <span class="easypie-data h3 font-strong">28<sup>%</sup></span>
                            </div>
                          </div>
                          <div class="text-center">
                            <div class="mb-3">Nhãn hàng 3</div>
                            <div class="easypie" data-percent="9" data-bar-color="#5c6bc0" data-size="80"
                              data-line-width="8">
                              <span class="easypie-data h3 font-strong">9<sup>%</sup></span>
                            </div>
                          </div>
                          <div class="text-center">
                            <div class="mb-3">Nhãn hàng 4</div>
                            <div class="easypie" data-percent="13" data-bar-color="#ff4081" data-size="80"
                              data-line-width="8">
                              <span class="easypie-data h3 font-strong">13<sup>%</sup></span>
                            </div>
                          </div>
                          <div class="text-center">
                            <div class="mb-3">Nhãn hàng 5</div>
                            <div class="easypie" data-percent="6" data-bar-color="#5c6bc0" data-size="80"
                              data-line-width="8">
                              <span class="easypie-data h3 font-strong">6<sup>%</sup></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="tab_2">
                        <div class="flexbox">
                          <div class="text-center">
                            <div class="mb-3">Nhãn hàng 5</div>
                            <div class="easypie" data-percent="33" data-bar-color="#5c6bc0" data-size="80"
                              data-line-width="8">
                              <span class="easypie-data h3 font-strong">33<sup>%</sup></span>
                            </div>
                          </div>
                          <div class="text-center">
                            <div class="mb-3">Nhãn hàng 1</div>
                            <div class="easypie" data-percent="42" data-bar-color="#18c5a9" data-size="80"
                              data-line-width="8">
                              <span class="easypie-data h3 font-strong">42<sup>%</sup></span>
                            </div>
                          </div>
                          <div class="text-center">
                            <div class="mb-3">Nhãn hàng 2</div>
                            <div class="easypie" data-percent="8" data-bar-color="#5c6bc0" data-size="80"
                              data-line-width="8">
                              <span class="easypie-data h3 font-strong">8<sup>%</sup></span>
                            </div>
                          </div>
                          <div class="text-center">
                            <div class="mb-3">Nhãn hàng 3</div>
                            <div class="easypie" data-percent="11" data-bar-color="#ff4081" data-size="80"
                              data-line-width="8">
                              <span class="easypie-data h3 font-strong">11<sup>%</sup></span>
                            </div>
                          </div>
                          <div class="text-center">
                            <div class="mb-3">Nhãn hàng 4</div>
                            <div class="easypie" data-percent="6" data-bar-color="#5c6bc0" data-size="80"
                              data-line-width="8">
                              <span class="easypie-data h3 font-strong">6<sup>%</sup></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="tab_3">
                        <div class="flexbox">
                          <div class="text-center">
                            <div class="mb-3">Nhãn hàng 5</div>
                            <div class="easypie" data-percent="41" data-bar-color="#5c6bc0" data-size="80"
                              data-line-width="8">
                              <span class="easypie-data h3 font-strong">41<sup>%</sup></span>
                            </div>
                          </div>
                          <div class="text-center">
                            <div class="mb-3">Nhãn hàng 4</div>
                            <div class="easypie" data-percent="32" data-bar-color="#18c5a9" data-size="80"
                              data-line-width="8">
                              <span class="easypie-data h3 font-strong">32<sup>%</sup></span>
                            </div>
                          </div>
                          <div class="text-center">
                            <div class="mb-3">Nhãn hàng 3</div>
                            <div class="easypie" data-percent="10" data-bar-color="#5c6bc0" data-size="80"
                              data-line-width="8">
                              <span class="easypie-data h3 font-strong">10<sup>%</sup></span>
                            </div>
                          </div>
                          <div class="text-center">
                            <div class="mb-3">Nhãn hàng 2</div>
                            <div class="easypie" data-percent="12" data-bar-color="#ff4081" data-size="80"
                              data-line-width="8">
                              <span class="easypie-data h3 font-strong">12<sup>%</sup></span>
                            </div>
                          </div>
                          <div class="text-center">
                            <div class="mb-3">Nhãn hàng 1</div>
                            <div class="easypie" data-percent="5" data-bar-color="#5c6bc0" data-size="80"
                              data-line-width="8">
                              <span class="easypie-data h3 font-strong">5<sup>%</sup></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="ibox ibox-fullheight">
                  <div class="ibox-head">
                    <div class="ibox-title">
                      <a href="/users">KHÁCH HÀNG MỚI</a>
                    </div>
                    <div class="ibox-tools">
                      <a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-user"></i></a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item"><i class="ti-pencil mr-2"></i>Create</a>
                        <a class="dropdown-item"><i class="ti-pencil-alt mr-2"></i>Edit</a>
                        <a class="dropdown-item"><i class="ti-close mr-2"></i>Remove</a>
                      </div>
                    </div>
                  </div>
                  <div class="ibox-body">
                    <ul class="media-list media-list-divider mr-2 scroller" data-height="580px">
                      <li class="media align-items-center">
                        <a class="media-img" href="javascript:;">
                          <img class="img-circle" src="/images/products/27.jpg" alt="image" width="54" />
                        </a>
                        <div class="media-body d-flex align-items-center">
                          <div class="flex-1">
                            <div class="media-heading">Lynn Weaver</div><small class="text-muted">Lorem Ipsum is simply
                              dummy</small>
                          </div>
                        </div>
                      </li>
                      <li class="media align-items-center">
                        <a class="media-img" href="javascript:;">
                          <img class="img-circle" src="/images/products/27.jpg" alt="image" width="54" />
                        </a>
                        <div class="media-body d-flex align-items-center">
                          <div class="flex-1">
                            <div class="media-heading">Connor Perez</div><small class="text-muted">Lorem Ipsum is simply
                              dummy</small>
                          </div>
                        </div>
                      </li>
                      <li class="media align-items-center">
                        <a class="media-img" href="javascript:;">
                          <img class="img-circle" src="/images/products/27.jpg" alt="image" width="54" />
                        </a>
                        <div class="media-body d-flex align-items-center">
                          <div class="flex-1">
                            <div class="media-heading">Tyrone Carroll</div><small class="text-muted">Lorem Ipsum is
                              simply dummy</small>
                          </div>
                        </div>
                      </li>
                      <li class="media align-items-center">
                        <a class="media-img" href="javascript:;">
                          <img class="img-circle" src="/images/products/27.jpg" alt="image" width="54" />
                        </a>
                        <div class="media-body d-flex align-items-center">
                          <div class="flex-1">
                            <div class="media-heading">Stella Obrien</div><small class="text-muted">Lorem Ipsum is
                              simply dummy</small>
                          </div>
                        </div>
                      </li>
                      <li class="media align-items-center">
                        <a class="media-img" href="javascript:;">
                          <img class="img-circle" src="/images/products/27.jpg" alt="image" width="54" />
                        </a>
                        <div class="media-body d-flex align-items-center">
                          <div class="flex-1">
                            <div class="media-heading">Becky Brooks</div><small class="text-muted">Lorem Ipsum is simply
                              dummy</small>
                          </div>
                        </div>
                      </li>
                      <li class="media align-items-center">
                        <a class="media-img" href="javascript:;">
                          <img class="img-circle" src="/images/products/27.jpg" alt="image" width="54" />
                        </a>
                        <div class="media-body d-flex align-items-center">
                          <div class="flex-1">
                            <div class="media-heading">Bob Gonzalez</div><small class="text-muted">Lorem Ipsum is simply
                              dummy</small>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- End Page Content -->

      </div>
      <!-- End Main Content -->

      <!-- Footer -->
      <!-- Include footer partial -->
      <% include ../common/partials/footer %>
      <!-- End Footer -->

    </div>
    <!-- End Content Wrapper -->


  </div>
  <!-- End of Page Wrapper -->


  <!-- Include bottom partial -->
  <% include ../common/partials/bottom %>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>
  <script src="/javascripts/admin-cast/jquery-jvectormap-world-mill-en.js" type="text/javascript">
  </script>
  <script src="/javascripts/admin-cast/jquery-jvectormap-2.0.3.min.js" type="text/javascript">
  </script>
  <script src="/javascripts/admin-cast/jquery.easypiechart.min.js" type="text/javascript">
  </script>
  <script src="/javascripts/admin-cast/dashboard_visitors.js" type="text/javascript"></script>

</body>

</html>