<div class="site-section">
  <div class="container">
    <div class="view-account">
      <section class="module">
        <div class="module-inner">
          <div class="side-bar">
            <nav class="side-menu">
              <ul class="nav">
                <li><a href="#"><span class="fa fa-user"></span> Thông tin </a></li>
                <li class="active"><a href="#"><span class="fa fa-credit-card"></span> Hóa đơn</a></li>
              </ul>
            </nav>
          </div>
          <div class="content-panel">
            <div class="container">
              <div class="row mb-5">
                <form class="col-md-12" method="post">
                  <div class="site-blocks-table">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="product-thumbnail">Đơn hàng</th>
                          <th class="product-name">Ngày đặt hàng</th>
                          <th class="product-price">Tổng số tiền</th>
                          <th class="product-quantity">Trạng thái</th>
                          <th class="product-total">Thông tin</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="product-thumbnail">
                            <h4><a href="#">#123456</a></h4>
                          </td>
                          <td class="product-name">
                            <h5 class="text-black">20/03/2019</h5>
                          </td>
                          <td>$49.00</td>
                          <td>Đã giao hàng</td>
                          <td>Đã nhận hàng vào 25/04</td>
                        </tr>
                        <tr>
                          <td class="product-thumbnail">
                            <h4><a href="#">#456789</a></h4>
                          </td>
                          <td class="product-name">
                            <h5 class="text-black">20/03/2019</h5>
                          </td>
                          <td>$49.00</td>
                          <td>Đã hủy</td>
                          <td>Khách hàng không nghe máy</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
