<link href="/stylesheets/admin-cast/main.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-12">
        <div class="ibox ibox-fullheight">
            <div class="ibox-head">
                <div class="ibox-title">Danh sách bình luận</div>
            </div>
            <div class="ibox-body">
                <ul class="media-list">
                    <li class="media">
                        <a class="media-img" href="javascript:;">
                            <img src="/images/products/27.jpg" alt="image" width="45">
                        </a>
                        <div class="media-body">
                            <div class="media-heading">
                                <a class="comment-author" href="javascript:;">Stella Obrien</a><small
                                    class="text-muted ml-2">5 ngày trước</small>
                                <div class="float-right font-13">
                                    <a class="text-muted mr-2" data-toggle="tooltip" data-original-title="Edit"><i
                                            class="fa fa-pencil-alt"></i></a>
                                    <a class="text-muted" data-toggle="tooltip" data-original-title="Delete"><i
                                            class="fa fa-trash"></i></a>
                                </div>
                            </div>
                            <p>Quá tệ.</p>
                        </div>
                    </li>
                    <li class="media">
                        <a class="media-img" href="javascript:;">
                            <img src="/images/products/27.jpg" alt="image" width="45">
                        </a>
                        <div class="media-body">
                            <div class="media-heading">
                                <a class="comment-author" href="javascript:;">Becky Brooks</a><small
                                    class="text-muted ml-2">5 ngày trước</small>
                                <div class="float-right font-13">
                                    <a class="text-muted mr-2" data-toggle="tooltip" data-original-title="Edit"><i
                                            class="fa fa-pencil-alt"></i></a>
                                    <a class="text-muted" data-toggle="tooltip" data-original-title="Delete"><i
                                            class="fa fa-trash"></i></a>
                                </div>
                            </div>
                            <p>Tốt lắm!</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>