<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Quản lý</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Bảng điều khiển</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Cửa hàng
    </div>

    <!-- Nav Item - Stalls Menu -->
    <li class="nav-item">
        <a class="nav-link" href="/stalls">
            <i class="fas fa fa-store"></i>
            <span>Gian hàng</span></a>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa fa-tags"></i>
            <span>Hàng hóa</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Nhóm:</h6>
                <a class="collapse-item" href="/products">Bánh kẹo</a>
                <a class="collapse-item" href="/products">Mĩ phẩm</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Categories -->
    <li class="nav-item">
        <a class="nav-link" href="/product-groups">
            <i class="fas fa fa-object-group pr-1"></i>
            <span>Nhóm hàng hóa</span></a>
    </li>

    <!-- Nav Item - Orders Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrders" aria-expanded="true"
            aria-controls="collapseOrders">
            <i class="fas fa fa-truck"></i>
            <span>Đơn đặt hàng</span>
        </a>
        <div id="collapseOrders" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Tình trạng:</h6>
                <a class="collapse-item" href="/orders">Đã giao</a>
                <a class="collapse-item" href="/orders">Đang giao</a>
                <a class="collapse-item" href="/orders">Chưa giao</a>
                <a class="collapse-item" href="/orders">Đơn tạm</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Khách hàng
    </div>

    <!-- Nav Item - Statistics -->
    <li class="nav-item">
        <a class="nav-link" href="/accounts">
            <i class="fas fa fa-users"></i>
            <span>Tài khoản khách hàng</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Kiểm kê
    </div>

    <!-- Nav Item - Statistics -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStatistics"
            aria-expanded="true" aria-controls="collapseStatistics">
            <i class="fas fa fa-chart-bar"></i>
            <span>Thống kê doanh số</span>
        </a>
        <div id="collapseStatistics" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Thời gian:</h6>
                <a class="collapse-item" href="/statistics">Theo ngày</a>
                <a class="collapse-item" href="/statistics">Theo tuần</a>
                <a class="collapse-item" href="/statistics">Theo tháng</a>
                <a class="collapse-item" href="/statistics">Theo quý</a>
                <a class="collapse-item" href="/statistics">Theo năm</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Best-sales -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBestSales"
            aria-expanded="true" aria-controls="collapseBestSales">
            <i class="fas fa fa-chart-line"></i>
            <span>Top dẫn đầu</span>
        </a>
        <div id="collapseBestSales" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/best-sales/top-products">Hàng hóa bán chạy</a>
                <a class="collapse-item" href="/best-sales/top-stalls">Top gian hàng</a>
            </div>
        </div>
    </li>

    <!-- Heading -->
    <div class="sidebar-heading">
        Tủy chọn
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseOptions" aria-expanded="true"
            aria-controls="collapseOptions">
            <i class="fas fa-fw fa-cog"></i>
            <span>Tùy chọn</span>
        </a>
        <div id="collapseOptions" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <!-- <h6 class="collapse-header">Login Screens:</h6> -->
                <a class="collapse-item" data-toggle="modal" data-target="#contactModal">Liên hệ hỗ trợ</a>
                <!-- <a class="collapse-item" href="register.html">Register</a> -->
                <div class="collapse-divider"></div>
                <a class="collapse-item" href="/login">Đăng xuất</a>
                <!-- <a class="collapse-item" href="register.html">Register</a> -->
                <div class="collapse-divider"></div>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>
<!-- End of Sidebar -->

<!-- Contact Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">Hỗ trợ nhanh</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>Email hỗ trợ: </p>
                <p>Số điện thoại hỗ trợ: </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>