<!DOCTYPE html>
<html>

<head>
    <% include ../common/partials/head %>
    <title><%= pageTitle %></title>
</head>

<body>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Include sidebar partial -->
        <% include ../common/partials/sidebar %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Include topbar partial -->
                <% include ../common/partials/topbar %>

                <!-- Page Content -->
                <div class="container-fluid">
                    <% include ../common/partials/statistics-table  %>
                </div>
                <!-- End Page Content -->

            </div>
            <!-- End Main Content -->

            <!-- Footer -->
            <!-- Include footer partial -->
            <% include ../common/partials/footer %>
            <!-- End Footer -->

        </div>
        <!-- End Content Wrapper -->


    </div>
    <!-- End of Page Wrapper -->

    <!-- Include bottom partial -->
    <% include ../common/partials/bottom %>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/javascrips/demo/chart-area-demo.js"></script>
    <script src="/javascrips/demo/chart-pie-demo.js"></script>
    <script src="/javascrips/demo/chart-bar-demo.js"></script>
</body>

</html>