<%- include("../common/containers/header")-%>
<!--================Order Details Area =================-->
<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a href="/">Trang chủ</a> <span class="mx-2 mb-0">/</span> <a href="/history-pay">Hóa đơn</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Chi tiết hóa đơn</strong></div>
    </div>
  </div>
</div>

<section class="site-section">
  <div class="container">
    <div class="row order_d_inner">
      <div class="col-lg-4">
        <div class="details_item">
          <h4>Thông tin đơn hàng</h4>
          <ul class="list">
            <li><a href=""><span>Mã hóa đơn</span> : #60235</a></li>
            <li><a href=""><span>Ngày đặt</span> : 20/04/2019</a></li>
            <li><a href=""><span>Số tiền</span> : 2.000.000</a></li>
            <li><a href=""><span>Phương thức</span> : Thanh toán khi nhận hàng</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="details_item">
          <h4>Thông tin người đặt</h4>
          <ul class="list">
            <li><a href=""><span>Họ tên</span> : Nguyễn Duy Thảo</a></li>
            <li><a href=""><span>Địa chỉ</span> : 227 Nguyễn Văn Cừ, phường 4, quận 5, Thành phố Hồ Chí Minh</a></li>
            <li><a href=""><span>Số điện thoại</span> : 09123456789</a></li>
            <li><a href=""><span>Email </span> : email@email.com</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="details_item">
          <h4>Thông tin người nhận</h4>
          <ul class="list">
            <li><a href=""><span>Họ tên</span> : Nguyễn Duy Thảo</a></li>
            <li><a href=""><span>Địa chỉ</span> : 227 Nguyễn Văn Cừ, phường 4, quận 5, Thành phố Hồ Chí Minh</a></li>
            <li><a href=""><span>Số điện thoại</span> : 09123456789</a></li>
            <li><a href=""><span>Email </span> : email@email.com</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="order_details_table">
      <h2>Chi tiết đơn hàng</h2>
      <div class="table-responsive">
        <table class="table">

          <thead>
            <tr>
              <th scope="col">Sản phẩm</th>
              <th scope="col">Số lượng</th>
              <th scope="col">Tổng cộng</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <h5>Pixelstore fresh Blackberry</h5>
              </td>
              <td>
                <h5>x 02</h5>
              </td>
              <td>
                <h5>$720.00</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>Pixelstore fresh Blackberry</h5>
              </td>
              <td>
                <h5>x 02</h5>
              </td>
              <td>
                <h5>$720.00</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>Pixelstore fresh Blackberry</h5>
              </td>
              <td>
                <h5>x 02</h5>
              </td>
              <td>
                <h5>$720.00</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>Tổng phụ</h5>
              </td>
              <td>
                <h5></h5>
              </td>
              <td>
                <h5>$2160.00</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h4>Phí giao hàng</h4>
              </td>
              <td>
                <h5></h5>
              </td>
              <td>
                <h4>$50.00</h4>
              </td>
            </tr>
            <tr>
              <td>
                <h4>Tổng cộng</h4>
              </td>
              <td>
                <h5></h5>
              </td>
              <td>
                <h4>$2210.00</h4>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!--================End Order Details Area =================-->
<%- include("../common/containers/footer") -%>
